<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('css.ejs') %>
</head>
<body>        
    <form action="/student/<%= stuInfo.stuNo %>?_method=PUT" method="POST">
        <div>
            이름 :
            <input type="text" name="stuName" value="<%= stuInfo.stuName %>">
        </div>
        <div>
            학과 :
            <input type="text" name="stuDept" value="<%= stuInfo.stuDept %>">
        </div>
        <div>학년:
            <input type="text" name="stuGrade" value="<%= stuInfo.stuGrade %>">
        </div>
        <button type="submit">수정</button>
    </form>
</body>
</html>